* {
  box-sizing: border-box;
  margin: 0;
}

div.main {
  background-color: darkblue;
}

div.content {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  width: 500px;
  margin: 0px auto;
  padding: 10px;
  background-color: #ff9500;
  border: 5px solid black;
}

h1 {
  font-size: 36px;
  text-align: center;
  color: darkblue;
  text-shadow: 5px 5px 5px black;
}

img {
  display: block;
  margin: 10px auto 2px;
  max-width: 70%;
  height: auto;
}

figcaption {
  text-align: center;
}

#heading {
  color: blue;
}

ul {
  margin-top: 10px;
  margin-bottom: 10px;
}

li.popular {
  border-style: dotted;
  border-color: red;
  border-width: 4px;
}

p.p1 {
  color: blue;
}

@media (max-width: 480px) {
  div.content {
    width: 82.1%;
    max-width: none;
  }

  img {
    max-width: 70%;
  }

  h1 {
    font-size: 28px;
  }
}

@media (min-width: 768px) and (max-width: 1024px) {
  div.main {
    height: 1180px;
  }

  div.content {
    max-width: 90%;
  }

  img {
    max-width: 80%;
  }

  h1 {
    font-size: 40px;
  }
  p {
    font-size: x-large;
  }

  li {
    font-size: x-large;
  }
}
